body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}
a,
a:focus,
a:hover {
  color: #fff;
}
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; 
  background-color: #fff;
  border: 1px solid #fff;
}
html,
body {
  height: 100%;
  background-color: #fff;
}
.navbar {
  background: black;
  opacity: 0.85;
  top: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
}
.backgroundSiteWrapper {
  background-color: black;
  padding: none;
  margin: none;
  height: 100%;
}
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=20);
  background-image: url("http://idolza.com/a/f/b/black-white-interior-design-room-wallpaper-hd-bedroom_black-and-white-wallpaper-bedroom_bedroom-room-designs-house-decor-design-bedding-ideas-kids-photo-gallery-for-walls-interio.jpg");
  background-size: 100%;
  margin-top: none; 
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  padding: none;
  position: relative;
  top: 0%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
.inner {
  padding: 30px;
  z-index: 1; 
  color: #fff;
}
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}
.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .masthead {
    position: fixed;
    top: 0;
  }
  .site-wrapper-inner {
    vertical-align: middle;
  }
}
.cover-heading {
  margin-top: auto;
  margin-bottom: auto;
}
.row {
  margin-top: 20px;
  margin-bottom: 20px;
}
#mainDescriptionRow {
  padding: 2%;
}
.text {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.thumbnail {
  border: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  height: 175px;
  width: 175px;
 }
 .description {
  width: 60%;
  margin-left: 30%;
  margin-right: auto;
 }
 #descriptionRow {
  margin-bottom: 2%;
 }
 #secondaryDescriptionRow {
  background-image: url("http://i.telegraph.co.uk/multimedia/archive/02401/energy-lean_2401626b.jpg");
  background-size: 100%;
 }
 #secondaryDescription {
  margin-top: 10%;
  margin-right: 30%;
  margin-left: auto;
  margin-bottom: 10%;
  color: white;
 }
 #heatImage {
  height: 160px;
  width: 160px;
  margin-bottom: 15px;
  margin-top: 15px;
 }
#footer {
  background-color: black;
  color: white;
  margin-bottom: 0px;
  padding: 3%;
}
.footerSocial {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.footerSocial:hover {
  opacity: 0.4;
}